Repository Armor-test/product-database-975, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-performance, @Armor-test/squad-research, @Armor-test/squad-reporting, @Armor-test/squad-cache, @Armor-test/dept-logging, @Armor-test/grp-integration, @Armor-test/squad-search, @Armor-test/squad-tooling, @Armor-test/unit-design, @Armor-test/grp-api, @Armor-test/squad-qa, @Armor-test/squad-database, @Armor-test/unit-devops, @Armor-test/dept-reporting, @Armor-test/squad-payments, @Armor-test/dept-api, @Armor-test/unit-test, @Armor-test/squad-frontend, @Armor-test/grp-storage, @Armor-test/team-research, @Armor-test/team-notifications, @Armor-test/dept-automation, @Armor-test/squad-product, @Armor-test/team-governance, @Armor-test/dept-ui, @Armor-test/grp-payments, @Armor-test/team-security, @Armor-test/grp-search, @Armor-test/grp-reporting, @Armor-test/dept-billing, @Armor-test/squad-apps, @Armor-test/team-reporting, @Armor-test/dept-security, @Armor-test/dept-reliability, @Armor-test/squad-ux, @Armor-test/dept-data, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team, @Armor-test/devops, @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-performance, @Armor-test/squad-research, @Armor-test/squad-reporting

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-database, @Armor-test/squad-performance, @Armor-test/unit-devops

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-research, @Armor-test/dept-logging

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-performance, @Armor-test/squad-research, @Armor-test/squad-reporting

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-ui, @Armor-test/grp-search, @Armor-test/team-security

.github/CODEOWNERS:

# CODEOWNERS file for product-database-975
# Global owners - will be requested for all PRs
* @Armor-test/squad-performance @Armor-test/squad-research @Armor-test/squad-reporting

# Directory ownership
/core/ @Armor-test/squad-cache @Armor-test/dept-logging
/api/ @Armor-test/grp-integration @Armor-test/squad-search
/dist/ @Armor-test/squad-tooling @Armor-test/squad-reporting @Armor-test/unit-design
/migrations/ @Armor-test/grp-api @Armor-test/squad-qa @Armor-test/squad-cache
/docs/ @Armor-test/squad-database @Armor-test/squad-performance @Armor-test/unit-devops
/utils/ @Armor-test/dept-reporting @Armor-test/squad-payments @Armor-test/dept-api
/third_party/ @Armor-test/squad-database @Armor-test/unit-test
/models/ @Armor-test/dept-api @Armor-test/squad-frontend
/assets/ @Armor-test/grp-storage @Armor-test/team-research @Armor-test/squad-performance
/web/ @Armor-test/team-notifications @Armor-test/dept-automation
/test/ @Armor-test/squad-research @Armor-test/dept-logging
/pkg/ @Armor-test/squad-product @Armor-test/team-governance @Armor-test/dept-ui
/extensions/ @Armor-test/unit-test @Armor-test/squad-research @Armor-test/grp-integration

# File type ownership
*.config @Armor-test/grp-payments @Armor-test/squad-tooling @Armor-test/dept-ui
*.graphql @Armor-test/team-security @Armor-test/unit-design
*.js @Armor-test/dept-ui @Armor-test/grp-search @Armor-test/team-security
*.kt @Armor-test/squad-frontend @Armor-test/squad-qa @Armor-test/squad-tooling
*.css @Armor-test/grp-reporting @Armor-test/dept-billing
*.cs @Armor-test/dept-api @Armor-test/team-security
*.scss @Armor-test/grp-payments @Armor-test/squad-research
*.proto @Armor-test/squad-apps @Armor-test/dept-api
*.php @Armor-test/squad-tooling @Armor-test/team-reporting
*.sh @Armor-test/team-reporting @Armor-test/team-security
*.json @Armor-test/dept-security @Armor-test/dept-automation @Armor-test/dept-reliability
*.ts @Armor-test/team-notifications @Armor-test/team-reporting @Armor-test/squad-research
*.rs @Armor-test/squad-ux @Armor-test/dept-data
*.h @Armor-test/dept-ui @Armor-test/dept-billing @Armor-test/grp-storage

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Dockerfile @Armor-test/devops @Armor-test/infra
